@charset "utf-8";

.container {
  margin: 0 10px 0 10px;
}

.text-center {
  text-align: center;
}

.img-responsive {
  max-width:100%;
  height:auto;
}

.center-block {
  display:block;
  margin-right:auto;
  margin-left:auto;
}

.light-grey {
  background: #f6f6f6;
}

nav {
  position: static;
}

nav a {
    color: #000;
}

nav .menu>* {
    margin-right: 1.2em;
}
  margin-right: 1.2em;
}

.home-page-billboard {
  background: url('../images/homepage-banner.jpg') no-repeat top center;
  background-size:cover;
}

.home-page-billboard h1, .home-page-billboard h2 {
  text-align: center;
  color: #000;
  text-shadow: 3px 1px #fff;
}

#map_holder {
  height: 280px;
  z-index: -1;
}

@media all and (min-width: 960px) {
  #map_holder {
    height: 380px;
    z-index: 0;
  }
}

footer a {
  float: right;
  margin-right: 10px;
}
