@charset "utf-8";

html {
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kaushan Script', cursive;
}

.center-block {
  display:block;
  margin-right:auto;
  margin-left:auto;
}

.light-grey {
  background: #f6f6f6;
}

.owl-carousel {
  max-width: 1440px;
  margin: 0 auto;
}

.owl-carousel img{
  display: block;
  width: 100%;
  height: auto;
}
/* about page */
.aboutpage-tradition {
  background: url('../images/about-wheat.jpg');
  background-size: cover;
  margin-bottom: 20px;
}

.aboutpage-tradition h3{
  background-color: rgb(246, 246, 246);
  padding: 11px 0px;
}

#map_holder {
  height: 280px;
  z-index: -1;
}

footer a {
  float: right;
  margin-right: 10px;
}

@media all and (min-width: 770px) {
  #map_holder {
    height: 380px;
    z-index: 0;
  }
}
