@charset "utf-8";

nav {
  position: static;
}

nav .brand img {
    width: 43px;
    margin-left: 22px;
}

.home-page-billboard {
  background: url('../images/homepage-banner.jpg') no-repeat top center;
  background-size:cover;
}

.home-page-billboard h1, .home-page-billboard h2 {
  text-align: center;
  color: #000;
  text-shadow: 3px 1px #fff;
}

footer a {
  float: right;
  margin-right: 10px;
}
